# System files
.DS_Store
Thumbs.db
desktop.ini

# IDE files
.vscode/
.idea/
*.iml

# Backup files
*.bak
*.backup
*.old
*.save
*.swp

# Logs
*.log

# Temporary files
/tmp
/temp
*~

# Specific project files
node_modules/
*.zip
*.rar
*.7z

# Pliki środowiska deweloperskiego
*.sublime*
*.code-workspace

# Pliki tymczasowe Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Pliki środowiska wirtualnego
venv/
ENV/

# Pliki specyficzne dla projektu
BO-2-PL (1).pdf
PL-Zadania-omawiane-na-zajeciach (1).pdf 